<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849897017725-b9i3b808opp4vnk0ftlngjtqo335dvgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849897017725-b9i3b808opp4vnk0ftlngjtqo335dvgq</string>
	<key>API_KEY</key>
	<string>AIzaSyCjFRmx--xeY5hu25r4onaThr-8E1djN9E</string>
	<key>GCM_SENDER_ID</key>
	<string>849897017725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wrapp</string>
	<key>PROJECT_ID</key>
	<string>wr-app-130039404</string>
	<key>STORAGE_BUCKET</key>
	<string>wr-app-130039404.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849897017725:ios:c92703fb594f76d9157c14</string>
</dict>
</plist>